<div fxLayout="row wrap" fxLayoutAlign="center space-between" style="padding: 10px;" >

    <div  fxLayout="row wrap"  fxLayoutAlign=" center" fxFlex="95" style="height: 60px; background-color: rgb(37, 150, 190); color: white; padding: 10px; box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); -webkit-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(140,139,139,0.75); border-radius: 7px;" class="mt-20 pd-10">
        <span fxLayout="row wrap" fxLayoutAlign="start center" class="font fs-6" fxFlex="55">Editar articulo</span>
    </div>
            
    <form  [formGroup]="myForm"  fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex="95"  style="margin-top: 15px;">     
    
    
         <mat-form-field appearance="outline" fxFlex="48" class="mt-10 font fs-4" >		
             <mat-label>Nombre </mat-label>
             <input matInput type="text" required formControlName="descripcionLarga">
         </mat-form-field> 
         
         <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Cod. Interno </mat-label>
            <input matInput type="text" required formControlName="codigoInterno" >
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label>Iva </mat-label>
            <input matInput type="text" required formControlName="iva" >
        </mat-form-field> 

        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label> precioNetoFinal </mat-label>
            <input matInput type="text"  formControlName="precioBrutoFinal" >
        </mat-form-field> 
      
        <mat-form-field appearance="outline" fxFlex="49" class="mt-10 font " >		
            <mat-label> Stock </mat-label>
            <input matInput type="text"  formControlName="cantidadStock" >
        </mat-form-field> 


  
   </form>

    <!-- save button -->
    <div  fxLayout="row wrap"  fxLayoutAlign="space-between center" fxFlex="95" style="margin-top: 60px;">
        <button mat-raised-button  [ngClass]="!save ? 'btnMenuClicked':'btnMenu'" fxFlex="48" (click)="closeComponent()">
            <i class="material-symbols-outlined notranslate"  >redo</i> 
            &nbsp;Cancelar
        </button>
        <button mat-raised-button  [ngClass]="save ? 'btnMenuClicked':'btnMenu'" fxFlex="48" (click)="onSaveForm()">
            <i class="material-symbols-outlined notranslate">login</i> 
            &nbsp; Guardar
        </button>
    </div>
    <!-- end save button -->

</div>

<div *ngIf="isLoading" style="margin-top: 30px;" class="loading-overlay">
    <mat-spinner diameter="80"></mat-spinner>
  </div>
  

  
