// .add{
//     color: white;
//     width: 80px;
//     height: 80px;
//     border-radius: 100px;
//   }
//   .add mat-icon{
//     transform: scale(2);
//   }
  
  .mainIcon{
    width: 50px;
    height: 50px;
    border-radius:50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: red;
  
    box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
    -webkit-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
    -moz-box-shadow: 0px 1px 8px 0px rgba(145,145,145,0.75);
  
    .material-symbols-outlined {
      transform: scale(1.4);
      color: white;
      transition: all 0.3s ease 0s;
    }
  
  
  }
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(37, 150, 190);
  }
  
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: rgb(37, 150, 190);
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    color: rgb(37, 150, 190)!important;
  
  }
  
  ::ng-deep .mat-slide-toggle.mat-disabled .mat-slide-toggle-bar {
    color: rgb(37, 150, 190) !important;
  
  }
  
  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    color: rgb(37, 150, 190) !important;
  
  }


  .example-container {
    height: calc(100vh - 450px);
    overflow: auto;
    font-size: 1.8em;
    font-family: 'poppins-light'; 
  }
  
  
  table {
    font-size: 0.8em;
    font-family: 'poppins-light'; 
  }
  
  .mat-column-action {
    width: 20%;
    text-align: center;
  }
  

//  este es la segunda columna es de donde se mueve es la "position"
.mat-column-name {
    padding-left: 8px;
    width: 35%;
    cursor: pointer;
    text-align: start;
  }

.mat-column-price {
    width: 15%;
    cursor: pointer;
    text-align: start;
}

.mat-column-stock {
  width: 15%;
  cursor: pointer;
  text-align: start;
}

.mat-column-iva {
  width: 15%;
  cursor: pointer;
  text-align: start;
}





img{
    width: 70px;
    cursor: pointer;
}

.non-class{
  opacity: 0;
}
  


.boxSelection{

  padding: 15px;
  border-radius: 1px;
  
  box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  -webkit-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);
  -moz-box-shadow: 0px 1px 9px -2px rgba(175, 175, 175, 0.85);

}

.incrementer{
  border: 1px solid rgb(37, 150, 190);
  border-radius: 5px ;
  width: 80px;
  height: 40px;
  padding: 10px;

  box-shadow: -1px 4px 14px -2px rgba(179, 179, 179, 0.55);
  -webkit-box-shadow: -1px 4px 14px -2px rgba(179, 179, 179,0.55);
  -moz-box-shadow: -1px 4px 14px -2px rgba(179, 179, 179,0.55);
}

.customInput{
  width: 73px;
  border-radius: 7px;
  border: 1px solid rgb(37, 150, 190) !important;
  line-height: 36px;
  text-align: center;
  
  box-shadow: 0px 1px 9px -2px rgba(197, 196, 196, 0.85);
  -webkit-box-shadow: 0px 1px 9px -2px rgba(197, 196, 196, 0.85);
  -moz-box-shadow: 0px 1px 9px -2px rgba(197, 196, 196, 0.85);
}


.example-container {
  height: calc(100vh - 450px);
  overflow: auto;
  font-size: 1.8em;
  font-family: 'poppins-light'; 
}


//Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {


}

//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 800px) {


  .example-container {
    height: calc(100vh - 390px);

  }

  }

  
//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1200px) {

  .example-container {
    height: calc(100vh - 390px);

  }
  
  
}

//Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1400px) {

  .example-container {
    height: calc(100vh - 350px);

  }

}



